#root-element {
    box-sizing: border-box;
    display: flex;
    width: 100%;
    gap: 10px;
    padding: 4px;
    margin: 2px 0;
    user-select: none;
    touch-action: pan-y;
    align-items: center;
    cursor: pointer;
}

#display-amount {
    flex-basis: 3ch;
    flex-shrink: 0;
    text-align: right;
}

#display-name {
    height: 1lh;
}

#display-name:empty:not(:focus) {
    flex-grow: 1;
}

#display-name:empty:not(:focus):before {
    content: "Leer (Rechtsklick / gedrückt halten zum bearbeiten)";
    text-align: right;
    display: block;
}

@media (pointer:coarse) {
    #display-name:empty:not(:focus):before {
        content: "Leer (gedrückt halten zum bearbeiten)";
    }
}

@media (pointer:fine) {
    #display-name:empty:not(:focus):before {
        content: "Leer (Rechtsklick zum bearbeiten)";
    }
}

#display-note:not(:empty) {
    opacity: 0.4;
    font-size: 0.8em;
    text-overflow: ellipsis;
    height: 1lh;
    white-space: nowrap;
    overflow: hidden;
}
